<div class="chart-container" #chartContainer>
  <canvas #chartCanvas></canvas>
</div>
<div class="data-zoom-container" #dataZoomContainer>
  <canvas #dataZoomCanvas></canvas>

  <div class="brush">
    <div class="brush__selection" #brushSel>
      <div class="brush__handle brush__handle--l" #handleLeft>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="brush__handle brush__handle--r" #handleRight>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
